*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
}
h1{
    text-align: center;
    
}
.menu{
    margin: 20px 200px;
    padding: 20px 20px;
    background: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 10%), 1px 6px 16px rgba(0, 0, 0, 15%);
}

.lt{
    flex: 33.3%;
    padding: 15px 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}
img{
    object-fit: cover;
    -webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

img:hover{
    -webkit-transform: scale(1);
	transform: scale(1);
    
}

.laptop{
    background: white;
    width: 50%;
    
}

.table{
    margin: 0 20px 20px;
    padding: 5px 10px 0;
}

.tt{
    margin-left: 20px;
    background: white;
    border: 1px solid gray;
    border-radius: 3px;
    width: 80px;
    background: greenyellow;
}