*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FAFBFC;
}

#container{
    margin: 1px 500px 0;
    padding: 10px;
    background-color: white;
}
p{
    line-height: 25px;
    text-align: justify;
}
.p1{
    text-align: center;
}
.p12{
    margin: 15px 0;
}
.p13{
    margin-bottom: 15px;
}
.p2{
    margin: 0 0 15px 40px;
    text-align: left;
}
.p3{
    text-indent: 20px;
}
.p4{
    margin: 15px 0 0 258px;
}
.p5{
    margin-left: 224px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #000;
}